.container__content {
	display: flex;
	width: 100%;
	margin-top: 31px;
}

.container__content-options {
	width: 100%;
	max-width: 320px;
	margin-right: 30px;
}

.content-name {
	display: flex;
	justify-content: flex-start;
	width: 100%;
}

.content-name > div {
	max-width: 225px;
	color: #353535;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.5px;
}

.content-pic {
	max-width: 40px;
	margin-top: 6px;
	margin-right: 20px;
}

.option > input {
	width: 18px;
	height: 18px;
}

.months {
	align-items: center;
	width: 221px;
	height: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-left: 12px;
	color: #353535;
	font-weight: 6000;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.16px;
	background: #fff;
	background: url('/assets/img/Arrow.svg') no-repeat right #fff;
	background-position-x: 200px;
	border: 1px solid #e9e9e9;
	border-radius: 0;
	cursor: pointer;
	appearance: none;
}

.form__report-options {
	margin-bottom: 50px;
	color: #353535;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.16px;
}

.option {
	margin-bottom: 12px;
}

.option > input,
label {
	padding-left: 12px;
	vertical-align: middle;
	cursor: pointer;
}

.form__report-btn {
	width: 180px;
	background: #4990e2;
}

.container__content-info {
	box-sizing: border-box;
	width: 100%;
	min-width: 550px;
	height: 330px;
	padding: 20px;
	background: #f7f7f7;
	border-radius: 5px;
}

.container__content-info > p {
	color: #8c8c8c;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
}

.content-info_blue {
	color: #4990e2;
}

.content-info_black {
	color: #353535;
}
