.header {
	width: 100%;
}

.header__filter {
	display: flex;
	height: 40px;
}

.header__filter-text {
	display: inline-block;
	box-sizing: border-box;
	width: 210px;
	height: 30px;
	margin: 5px 0;
	margin-right: 20px;
	padding: 0 10px 0 12px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	background: #fff;
	border: 1px solid #e9e9e9;
}

.header__filter-btn {
	width: 90px;
	background: #353535;
}

.btn:hover {
	opacity: 85%;
	transition: 0.2s;
}
