.header {
	width: 100%;
}

.filter {
	display: flex;
	height: 30px;
}

.filter-text {
	display: inline-block;
	box-sizing: border-box;
	width: 210px;
	margin-right: 10px;
	padding: 0 10px 0 12px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	background: #fff;
	border: 1px solid #e9e9e9;
}

.filter-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	width: 90px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.16px;
	background: #353535;
	border: none;
	border-radius: 3px;
	font-feature-settings: 'pnum' on, 'lnum' on;
}
