@font-face {
	font-weight: 400, 500;
	font-family: 'TT Norms';
	font-style: normal;
	src: local('TT Norms');
	src: url('/assets/fonts/TTNorms-Regular.woff2') format('woff2');
}

html,
body,
input,
button,
p {
	margin: 0;
	font-family: 'TT Norms', sans-serif;
}

.container {
	width: 900px;
	margin: 0 auto;
	padding: 0 50px;
}

.container > p {
	padding-top: 30px;
	padding-bottom: 21px;
	color: #8c8c8c;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.16px;
}

.btn {
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: 40px;
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.16px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
