.report {
	box-sizing: border-box;
	width: 900px;
	height: 660px;
	margin: 46px 0 100px;
	padding: 40px 40px 60px;
	background: #fff;
	border: 1px dashed #939da6;
	box-shadow: 0 0 40px rgb(0 0 0 / 15%);
}

.report__info {
	box-sizing: border-box;
}

.report__info__title {
	text-align: left;
}

tr {
	text-align: left;
	border-bottom: 1px dashed #e9e9e9;
}

tr:last-child {
	border: none;
}

th {
	padding-top: 28px;
	color: #939da6;
	font-size: 13px;
	line-height: 15px;
}

td {
	padding: 20px 0;
	padding-right: 20px;
	color: #353535;
	vertical-align: top;
}

.report__info__time {
	min-width: 100px;
}

.report__info__time-text {
	font-size: 16px;
	line-height: 19px;
}

.report__info__buffer {
	min-width: 220px;
}

.report__info__buffer-text {
	font-size: 13px;
	line-height: 15px;
}

.report__info__slope {
	position: relative;
	min-width: 100px;
}

.report__info__offset {
	position: relative;
	min-width: 100px;
}

.report__info__user {
	min-width: 180px;
}

.report__info__user-text {
	font-weight: normal;
	font-size: 12px;
	font-style: normal;
	line-height: 14px;
}

.correct::after {
	position: absolute;
	padding-left: 25px;
	content: url('/assets/img/Vector.svg');
}

.incorrect::after {
	position: absolute;
	padding-left: 25px;
	content: url('/assets/img/Vector2.svg');
}
