.report {
	box-sizing: border-box;
	width: 900px;
	height: 660px;
	margin: 46px 0 100px;
	padding: 40px 40px 60px;
	background: #fff;
	border: 1px dashed #939da6;
	box-shadow: 0 0 40px rgb(0 0 0 / 15%);
}

table {
	box-sizing: border-box;
}

caption {
	text-align: left;
}

tr {
	border-bottom: 1px dashed #e9e9e9;
}

tr:first-child {
	border: none;
}

tr:last-child {
	border: none;
}

th {
	padding-top: 28px;
	color: #939da6;
	font-size: 13px;
	line-height: 15px;
}

td {
	padding: 20px 0;
	padding-right: 20px;
	font-size: 13px;
	line-height: 15px;
}

th:nth-child(1) {
	min-width: 100px;
	padding-right: 20px;
}

th:nth-child(2) {
	min-width: 200px;
	padding-right: 40px;
}

th:nth-child(3) {
	min-width: 100px;
	padding-right: 20px;
}

th:nth-child(4) {
	min-width: 100px;
	padding-right: 20px;
}

th:nth-child(5) {
	min-width: 220px;
}

td:nth-child(1) {
	max-width: 100px;
	color: #353535;
	font-size: 16px;
	line-height: 19px;
}

td:nth-child(2) {
	min-width: 200px;
	color: #353535;
	font-size: 13px;
	line-height: 15px;
}

td:nth-child(3) {
	position: relative;
	min-width: 100px;
}

td:nth-child(3)::after {
	position: absolute;
	padding-left: 25px;
	content: url('/assets/img/Vector.svg');
}

td:nth-child(4) {
	position: relative;
	min-width: 100px;
}

td:nth-child(4)::after {
	position: absolute;
	padding-left: 25px;
	content: url('/assets/img/Vector.svg');
}

td:nth-child(5) {
	min-width: 220px;
	font-weight: normal;
	font-size: 12px;
}

#incorrect::after {
	position: absolute;
	padding-left: 25px;
	content: url('/assets/img/Vector2.svg');
}
